
/*------------------------------------*\
    			DESIGN
\*------------------------------------*/

$primary-grey: #5F5F5F;
$secondary-grey: #7F7F7F;
$primary--blue: #3F5FB5;

$product-background--blue: #C0D4DC;
$product-info--grey: #FAFAFA;

$table-border: #979797;


/*------------------------------------*\
    			FONTS
\*------------------------------------*/

$base-copy-colour: #4D4D56;
$heading--blue: #3F5FB5;
$heading--grey: #4D4D56;


/*------------------------------------*\
    			PRODUCTS
\*------------------------------------*/

$product--blue: #3F5FB5;
$product--red: #BA4343;
$product--black: #4A4A4A;